# Mac OS X files


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories (remove the comment below to include it)
**/vendor/*
!modules.txt

.vscode/
.env
bird_golang_back/vendor/
bird_golang_back/assets/.DS_Store
bird_golang_back/build/.DS_Store
bird_golang_back/assets/private/.DS_Store
bird_golang_back/web/.DS_Store
