version: '3'

services:

  web:
    image: golang:1.19
    container_name: bird-golang-service
    environment:
      CONNECTION_DBURL: ${DB_USER}:${DB_PASSWORD}@tcp(db:3306)/${DB_NAME}?parseTime=true
      CORS_TARGET: ${WEB_CORS_TARGET}
    volumes: 
      - ./bird_golang_back:/app/bird
      - ./volumes/app/bird_image:/bird_image
    working_dir: /app/bird
    ports:
      - 8100:8100
    depends_on:
      - db
    networks:
      - backbone
    command: bash -c "go mod vendor && go run main.go"
  db:
    container_name: bird-database-service
    build:
      context: ./maria-db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./volumes/database:/var/lib/mysql
    ports:
      - 3006:3306
    networks:
      - backbone

networks:
  backbone:
    driver: bridge